body {
    margin: 0;
    /* overflow: hidden; */
}

* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: sans-serif;
    overflow: hidden;
}
.music-app{
    height : 86vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
}
.menu-item{
    color: white;
    height:100%;
    width: 13vw;
    min-width: 160px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 6px;
    margin-right: 6px;
}
.app-icon,.menu-options,.playlist,.native-options,.personlized-options{
    display: flex;
    flex-direction: column;
}
.playlist{
    margin-top: 10px;
}

.app-icon{
    height: 10%;
    margin-bottom: 20px;
}
.icon{
    margin: auto;
}
.menu-options{
    padding-bottom: 20px;
border-bottom: 1px solid rgb(105, 105, 105);
}
.native-options{
    padding-bottom: 20px;
}

.option{
    color: rgb(175, 173, 173);
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 3px;
    border-radius: 5px;
    opacity: .8;
}
.option:hover{
    cursor: pointer;
    background-color: rgba(66, 65, 65,0.7);
}
.option-icon{
    transform :scale(1.25);
    padding-left:.5rem;
    padding-right: .7rem;

}
.option-name{
    display: flex;
    align-items: center;
}
.liked-song.selected{
    color:rgb(236, 12, 49);
}
.selected{
    color:rgb(255, 0, 0);
    opacity: 1;
    transition: opacity .2s;
}
.play{
 position: relative;
 left:8rem;
 top:2rem;
 opacity: 1;
}

.play:hover{
    opacity: .7;
}
.playlist,.song-display{
    overflow: auto;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.song-option-modal,.playList-option-modal,.playList-rename-modal{
    position: absolute;
    background-color: rgb(51, 51, 51);
    box-shadow: 0 8px 16px  0 rgb(0 0 0 /10%);
    border-radius: 4px;
    max-height: 200px;
    width: 100px;
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    overflow: auto;
}
.playList-rename-modal{
    width: 400px;
    height: 250px;
}
.addPlayList{
    color: aliceblue;
}

.playList-modal-title{
    text-align: center;
    font-size:1.2rem ;
    font-weight: bold;
    color: #217346;
}
.playList-modal-input-box,.playList-modal-detail-box{
    padding: 20px;
}
.playList-modal-detail-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:24 ;
    font-weight: 600;
}
.playList-modal-input-title.playList-modal-detail-title{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}
.playList-modal-input{
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    outline-color: #217346;
}
.playList-modal-confirmation{
    
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.button{
    border: 1px solid;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 3px;
    font-weight: 600;
}

.yes-modal{
    background-color:#217346;
    color: #fff;
}
.yes-modal:hover{
    background-color: #195534;
    cursor:pointer
}
.no-modal:hover{
    background-color: darkgrey;
    cursor:pointer
}
.delete-icon {
    margin-right: 5px;
}

.rename-error {
    color: red;
    font-size: 14px;
    margin-top: 5px ;
}









